@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

*{
  margin: 0;
  padding: 0;  
  box-sizing: border-box;
  font-family: Arial, sans-serif;  
}

body {
    background-color: #000000;
    background-image: radial-gradient(circle at center, #065f46, #0f172a, #000000);
    overflow-x: hidden; /* Evita scroll lateral */
}
.login-container {
    max-width: 400px;           
    background: #1a1b1f;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 9px 9px 60px rgb(0, 0, 0),
              -9px -9px 60px rgb(0, 0, 0);
    position: relative;
    overflow: hidden;
    font-family: Arial, sans-serif;    
}

.login-container::before {
    content: "";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background-image: url(../img/background\ 2.png);
    background-size: cover;
    background-position: center;
    opacity: 0.3;
    z-index: 0;
}

.login-container > * {
    position: relative;
    z-index: 1;
}

/* Nome da aplicação */
.login-container h1 {
    margin-bottom: 1.5rem;
    color: #ffffff;
    font-size: 1.8rem;
    font-weight: 800; /* Regular */
    text-align: center;    
}

.logo{
    margin-bottom: 0.4rem;
}

.form-control {
    background-color: #26272c;
    border: 3px solid #3f4148;
    border-radius: 13px;
    box-shadow: 0px 5px 30px #000000 ;
    color: #9ca3af;
}

.form-control:focus {
    border-color: #10aa77;
    outline: none;
    background-color: #26272c;
    color: #9ca3af;
}

input:-webkit-autofill {   
  /*color: #9ca3af;*/
  -webkit-text-fill-color: #9ca3af !important; /* Corrige a cor do texto dentro do campo */  
  -webkit-box-shadow: 0px 0px 0px 1000px #26272c inset !important; /* Corrige fundo branco */
}

/* Label */
.form-label{  
  margin-left: 4px;
  margin-bottom: -5px;
  font-weight: 400; /* Regular */
  color: #ffffff;  
}

.esqueci{
    font-weight: 400px; /* Regular */
    font-size: 14px ;
    display: block;
    width: fit-content; /* Faz o link ocupar apenas o tamanho do texto */
    margin-left: auto; /* Alinha à direita com Bootstrap */
    text-decoration: none;       
}

.esqueci:hover{
    text-decoration: underline;
}

.criar{       
    text-decoration: none;      
}

p{
    font-weight: 400px; /* Regular */
    font-size: 14px ;
    text-align: center;
}

.criar:hover{
    text-decoration: underline;
}
    
.btn-custom {
    background-color: #0a7c56;
    border: 3px solid #3f4148;
    border-radius: 13px;
    color: #ffffff;
    padding: 0.75rem;
    font-weight: 600;
    transition: background-color 0.3s;
    box-shadow: 0px 5px 30px #000000;
}

.btn-custom:hover {
    background-color: #10aa77;
    color: #ffffff;
}


.toggle-password {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  color: #9ca3af;
  padding: 0;
}

.toggle-password:hover {
  color: #10aa77;
}


/* Responsividade com media queries no lugar de classes bootstrap para maior controle do layout */

/* Tablets médios em diante (>=768px) */
@media (min-width: 768px) {
  .login-container {
    padding: 3rem;
    max-width: 500px;
  }
}

/* Telas grandes (>=992px) */
@media (min-width: 992px) {
  .login-container {
    padding: 4rem;
    max-width: 600px;
  }
}

/* Telas muito grandes (>=1200px) */
@media (min-width: 1200px) {
  .login-container {
    max-width: 700px;
  }
}